@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root {
        --azul-principal: #0C41FF;
    }
    
    @font-face{
        font-family: 'Inter';
        src: url('./assets/fonts/Inter-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
    
    

    html {
        scroll-behavior: smooth;
        scroll-padding-top: 0;
    }
    
    body {
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    
    * {
        scroll-behavior: smooth;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
    
      ::-webkit-scrollbar-track {
        background: transparent;
        background-color: transparent;
      }
    
      ::-webkit-scrollbar-thumb {
        background: #0037ff; /* sua cor personalizada */
        border-radius: 9999px;
      }
    
      ::-webkit-scrollbar-thumb:hover {
        background: #7373ff;
      }
    
      /* Firefox */
      * {
        scrollbar-width: thin;
        scrollbar-color: #5f5f5f transparent;
      }
}